body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:not(:last-child) {
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: #777;
  padding: 0 3%;
}

header h3 {
  color: #fff;
}

header nav button {
  background: none;
  border: none;
  color: #fff;
  font-size: .95rem;
  cursor: pointer;
}